.list {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  cursor: pointer;
  transition: 0.1s;

  &::after {
    content: '';
    position: absolute;
    top: 20px;
    height: 24px;
    width: 100%;
  }

  .listTitle {
    font-size: 16px;
  }

  .lessIcon {
    display: none;
  }

  .lisItem {
    visibility: hidden;
    position: absolute;
    top: 43px;
    padding: 4px;
    border-radius: 4px;
    width: 200px;
    border: 1px solid #e5e8ef;
    z-index: 40;
    background: white;
  }

  .menuItem {
    padding: 4px;
    transition: 0.1s;

    &:hover {
      transform: translateX(8px);
    }
  }

  .moreIcon {
    transition: 0.1s;
  }

  &:hover {
    .moreIcon {
      transform: rotate(180deg);
    }

    .lisItem {
      visibility: visible;
      transition: 0.1s;
    }
    .menuItem {
      color: black;
    }
  }
}

.divider:last-child {
  display: none;
}
